/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

body {
    --accent-color: #355e93;
    --link-color: #2020e0;
    --button-color: var(--accent-color,#355e93);
    --button-text-color: #fff;
    --text-color: #202020;
    --background-dark: #1c1c1c
}

.cmp-container__features-dark {
    --button-color: #fff;
    --button-text-color: var(--accent-color,#355e93);
    --text-color: #fff
}

body.army {
    --accent-color: #fc0;
    --link-color: #1c2226
}

body.navy {
    --accent-color: #00283c;
    --link-color: #1a5eab;
    --background-dark: #00283c
}

body.airforce {
    --accent-color: #1c2347;
    --link-color: #1a5eab;
    --background-dark: #1c2347
}

body.marines {
    --accent-color: #e41b17;
    --link-color: #a71930;
    --background-dark: #171717
}

body.coastguard {
    --accent-color: #007dc3;
    --link-color: #005f86;
    --background-dark: #013043
}

body.spaceforce {
    --accent-color: #000;
    --link-color: #1a5eab;
    --background-dark: #000
}

body.dod {
    --accent-color: #355e93;
    --link-color: #2020e0;
    --background-dark: #1c1c1c
}

body,html {
    background: #fff;
    color: #202020;
    font-family: neue-haas-grotesk-text,sans-serif;
    font-size: 1pc;
    line-height: 1.5;
    margin: 0
}

@media(prefers-color-scheme: dark) {
    body,html {
        background:#000;
        color: #dfdfdf
    }
}

a {
    color: #2020e0
}

@media(prefers-color-scheme: dark) {
    a {
        color:#dfdf1f
    }
}

button,input,optgroup,select,textarea {
    font: inherit
}

.cmp-breadcrumb {
    z-index: 10
}

.cmp-breadcrumb__list {
    margin: 0;
    padding: 0
}

.cmp-breadcrumb__item:after {
    color: var(--accent-color,#757575);
    content: "/";
    padding: 0 8px
}

.cmp-breadcrumb__item:last-child:after {
    content: "";
    padding: 0
}

.cmp-breadcrumb__item-link {
    color: var(--link-color,#212121);
    text-decoration: none
}

.cmp-breadcrumb__item-link:hover {
    text-decoration: underline
}

.cmp-container__features-shaded {
    background-color: var(--color-shaded,#c7c7c7)
}

.cmp-container__features-dark {
    background-color: var(--background-dark,#202020);
    color: var(--color-foreground-dark,#fff)
}

.cmp-container__features-dark a {
    color: var(--color-link-dark,#cacae3);
    text-decoration: underline
}

body.article .cmp-contentfragment__title {
    display: none
}

body.article .cmp-contentfragment__description {
    color: var(--text-color,#202020);
    font-size: 1.25rem;
    line-height: 1.6;
    margin-bottom: 1em
}

body.article .cmp-contentfragment__element {
    margin-bottom: 1.5em
}

body.article .cmp-contentfragment__element-title {
    color: var(--text-color,#202020);
    display: none;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: .25em
}

body.article .cmp-contentfragment__element-value {
    color: var(--text-color,#202020);
    font-size: 1rem;
    line-height: 1.5;
    margin-left: 0
}

body.article .cmp-contentfragment__element--featureImage .cf-feature-image {
    height: auto;
    margin-bottom: 1em;
    max-width: 100%
}

body.article .cmp-contentfragment .cf-dateline {
    font-weight: 700
}

body.article .cmp-contentfragment .cf-topics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0
}

body.article .cmp-contentfragment .cf-topics li {
    background-color: #d0d0d0;
    border-radius: .25rem;
    color: #353535;
    font-size: .875rem;
    padding: .25rem .5rem
}

.cmp-helloworld__item-label {
    margin-bottom: 0
}

.cmp-helloworld__item-output {
    margin-top: 0
}

.cmp-list__hero .cmp-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0
}

.cmp-list__hero .cmp-list__item {
    width: 100%
}

.cmp-list__hero .cmp-list__item .cmp-teaser {
    margin: 0
}

.cmp-list__hero .cmp-list__item .cmp-teaser__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: left;
    -ms-flex-align: left;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: left;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 25pc;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none
}

.cmp-list__hero .cmp-list__item .cmp-teaser__link:before {
    background: rgba(0,0,0,.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.cmp-list__hero .cmp-list__item .cmp-teaser__content {
    width: 100%;
    z-index: 5
}

.cmp-list__hero .cmp-list__item .cmp-teaser__content .cmp-teaser__title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.7)
}

.cmp-list__hero .cmp-list__item .cmp-teaser__content:after {
    background-color: #fff;
    border-radius: 9999px;
    content: "READ STORY";
    display: inline-block;
    font-weight: 700;
    margin-left: 20px;
    padding: 10px 20px
}

.cmp-list__hero .cmp-list__item .cmp-teaser__content:hover:after {
    background-color: var(--accent-color,#757575);
    color: #fff
}

@media(width >= 900px) {
    .cmp-list__hero .cmp-list__item .cmp-teaser__link {
        height: 900px
    }

    .cmp-list__hero .cmp-list__item .cmp-teaser__link:before {
        background: rgba(0,0,0,.1)
    }

    .cmp-list__hero .cmp-list__item .cmp-teaser__content {
        padding-left: calc(50% - 50pc);
        width: 30%
    }

    .cmp-list__hero .cmp-list__item .cmp-teaser__content .cmp-teaser__title {
        font-size: 60px;
        line-height: 1.2
    }
}

.cmp-list__hero .cmp-list__item .cmp-teaser__image {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1
}

.cmp-list__hero .cmp-list__item .cmp-teaser__image .cmp-image {
    height: 100%;
    width: 100%
}

.cmp-list__hero .cmp-list__item .cmp-teaser__image .cmp-image__image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
}

.cmp-list__hero .cmp-list__item .cmp-teaser__image .cmp-image:after {
    background: linear-gradient(45deg,#000,hsla(0,0%,100%,0) 50%);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

.cmp-list__sidebar .cmp-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.cmp-list__sidebar .cmp-list li {
    margin-bottom: 1.5em;
    padding-left: 8px
}

.cmp-list__sidebar .cmp-list__item-link {
    color: var(--link-color,#000);
    display: block;
    font-weight: 700;
    text-decoration: none
}

.cmp-list__sidebar .cmp-list__item-description {
    color: var(--text-color,#202020);
    font-size: .875rem
}

.cmp-list__sidebar .cmp-list li:has(.cmp-list__item-link:hover) {
    border-left: 4px solid var(--accent-color,#757575);
    padding-left: 4px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.cmp-list__layout-1-3 .cmp-list {
    display: grid;
    gap: 40px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3,1fr);
    list-style: none;
    margin: 0;
    padding: 0
}

.cmp-list__layout-1-3 .cmp-list li:first-child {
    grid-column: 1/2;
    grid-row: 1/4
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser {
    height: 100%
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__link {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
    position: relative
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__content {
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__content:before {
    background: -webkit-gradient(linear,left bottom,left top,from(#000),to(transparent));
    background: linear-gradient(0deg,#000,transparent);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__content .cmp-teaser__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    margin: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,.7)
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__image {
    height: 100%;
    z-index: 1
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__image .cmp-image {
    height: 100%
}

.cmp-list__layout-1-3 .cmp-list li:first-child .cmp-teaser__image .cmp-image__image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser {
    height: 100%
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser__link,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser__link,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    text-decoration: none
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser__content,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser__content,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser__content {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 60%
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser__image,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser__image,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser__image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    height: 100%;
    order: 1;
    width: 40%;
    z-index: 1
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser__image .cmp-image,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser__image .cmp-image,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser__image .cmp-image {
    height: 100%
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) .cmp-teaser__image .cmp-image__image,.cmp-list__layout-1-3 .cmp-list li:nth-child(3) .cmp-teaser__image .cmp-image__image,.cmp-list__layout-1-3 .cmp-list li:nth-child(4) .cmp-teaser__image .cmp-image__image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3
}

.cmp-list__layout-1-3 .cmp-list li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4
}

.cmp-list__carousel {
    position: relative
}

.cmp-list__carousel ul {
    scrollbar-width: none
}

.cmp-list__carousel ul::-webkit-scrollbar {
    display: none
}

.cmp-list__carousel ul li {
    max-width: 100%
}

.cmp-list__carousel .cmp-carousel__next,.cmp-list__carousel .cmp-carousel__prev {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    font-size: 4rem;
    padding: .25em .5em;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2
}

.cmp-list__carousel .cmp-carousel__prev {
    left: -4rem
}

.cmp-list__carousel .cmp-carousel__next {
    right: -4rem
}

.cmp-list__carousel .cmp-teaser__link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-radius: 8px;
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
    width: 100%
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    overflow: hidden
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__image .cmp-image {
    height: 100%;
    width: 100%
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__image .cmp-image__image {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
    width: 100%
}

.cmp-teaser__link:hover .cmp-list__carousel .cmp-teaser__link>.cmp-teaser__image .cmp-image__image {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content {
    -webkit-box-flex: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    max-width: calc(50% - 6rem);
    order: 2;
    padding: 2rem 4rem 2rem 2rem
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content .cmp-teaser__eyebrow {
    color: #666;
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: .5rem
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content .cmp-teaser__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1rem
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content .cmp-teaser__description {
    color: var(--text-color,#202020);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem
}

.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content:after {
    background-color: var(--button-color,#757575);
    border-radius: 9999px;
    color: var(--button-text-color,#fff);
    content: "READ STORY";
    display: inline-block;
    font-weight: 700;
    padding: 10px 20px;
    text-align: center;
    width: 90pt
}

@media(max-width: 768px) {
    .cmp-list__carousel .cmp-teaser__link {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cmp-list__carousel .cmp-teaser__link>.cmp-teaser__content,.cmp-list__carousel .cmp-teaser__link>.cmp-teaser__image {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.cmp-list .cmp-teaser__description {
    display: none
}

.cmp-list.show-description .cmp-teaser__description {
    display: block
}

.cmp-navigation__item--level-0:hover>.cmp-navigation__group {
    background: #ececec
}

.cmp-search .cmp-search__form {
    display: inline-block;
    position: relative
}

.cmp-search .cmp-search__field {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding: 10px 5px 10px 30px;
    -webkit-transition: width .4s ease;
    transition: width .4s ease;
    width: 40px;
    z-index: 1
}

.cmp-search .cmp-search__icon {
    -ms-flex-negative: 0;
    background: none;
    flex-shrink: 0;
    height: 25px;
    position: absolute;
    top: 5px;
    width: 25px;
    z-index: 3
}

.cmp-search .cmp-search__icon:before {
    background-color: #fff;
    content: "";
    cursor: pointer;
    display: block;
    height: 25px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M480%20272C480%20317.9%20465.1%20360.3%20440%20394.7L566.6%20521.4C579.1%20533.9%20579.1%20554.2%20566.6%20566.7C554.1%20579.2%20533.8%20579.2%20521.3%20566.7L394.7%20440C360.3%20465.1%20317.9%20480%20272%20480C157.1%20480%2064%20386.9%2064%20272C64%20157.1%20157.1%2064%20272%2064C386.9%2064%20480%20157.1%20480%20272zM272%20416C351.5%20416%20416%20351.5%20416%20272C416%20192.5%20351.5%20128%20272%20128C192.5%20128%20128%20192.5%20128%20272C128%20351.5%20192.5%20416%20272%20416z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M480%20272C480%20317.9%20465.1%20360.3%20440%20394.7L566.6%20521.4C579.1%20533.9%20579.1%20554.2%20566.6%20566.7C554.1%20579.2%20533.8%20579.2%20521.3%20566.7L394.7%20440C360.3%20465.1%20317.9%20480%20272%20480C157.1%20480%2064%20386.9%2064%20272C64%20157.1%20157.1%2064%20272%2064C386.9%2064%20480%20157.1%20480%20272zM272%20416C351.5%20416%20416%20351.5%20416%20272C416%20192.5%20351.5%20128%20272%20128C192.5%20128%20128%20192.5%20128%20272C128%20351.5%20192.5%20416%20272%20416z%22%2F%3E%3C%2Fsvg%3E");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    width: 25px
}

.cmp-search .cmp-search__input {
    border: none;
    font-size: 14px;
    margin-right: 8px;
    opacity: 0;
    outline: none;
    -webkit-transition: opacity .3s ease,width .3s ease;
    transition: opacity .3s ease,width .3s ease;
    width: 0;
    z-index: 2
}

.cmp-search .cmp-search__form:hover .cmp-search__field {
    border-color: #fff;
    width: 200px
}

.cmp-search .cmp-search__form:hover .cmp-search__input {
    opacity: 1;
    width: 100%
}

.cmp-separator__color-bar {
    background-color: var(--accent-color,#757575);
    padding: 30px
}

.cmp-separator__features-noline .cmp-separator hr {
    display: none
}

.cmp-separator__height-small {
    height: 20px
}

.cmp-separator__height-medium {
    height: 50px
}

.cmp-separator__height-large {
    height: 75pt
}

.cmp-separator__height-xlarge {
    height: 250px
}

.social-share ul {
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0
}

.social-share ul,.social-share ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.social-share ul li {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    width: 40px
}

.social-share ul li:before {
    background-color: #fff;
    content: "f";
    display: block;
    font-family: Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    height: 20px;
    -webkit-mask-size: cover;
    mask-size: cover;
    position: absolute;
    width: 20px
}

.social-share ul li.facebook {
    background-color: #3b5998
}

.social-share ul li.facebook:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M240%20363.3L240%20576L356%20576L356%20363.3L442.5%20363.3L460.5%20265.5L356%20265.5L356%20230.9C356%20179.2%20376.3%20159.4%20428.7%20159.4C445%20159.4%20458.1%20159.8%20465.7%20160.6L465.7%2071.9C451.4%2068%20416.4%2064%20396.2%2064C289.3%2064%20240%20114.5%20240%20223.4L240%20265.5L174%20265.5L174%20363.3L240%20363.3z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M240%20363.3L240%20576L356%20576L356%20363.3L442.5%20363.3L460.5%20265.5L356%20265.5L356%20230.9C356%20179.2%20376.3%20159.4%20428.7%20159.4C445%20159.4%20458.1%20159.8%20465.7%20160.6L465.7%2071.9C451.4%2068%20416.4%2064%20396.2%2064C289.3%2064%20240%20114.5%20240%20223.4L240%20265.5L174%20265.5L174%20363.3L240%20363.3z%22%2F%3E%3C%2Fsvg%3E")
}

.social-share ul li.x {
    background-color: #000
}

.social-share ul li.x:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M453.2%20112L523.8%20112L369.6%20288.2L551%20528L409%20528L297.7%20382.6L170.5%20528L99.8%20528L264.7%20339.5L90.8%20112L236.4%20112L336.9%20244.9L453.2%20112zM428.4%20485.8L467.5%20485.8L215.1%20152L173.1%20152L428.4%20485.8z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M453.2%20112L523.8%20112L369.6%20288.2L551%20528L409%20528L297.7%20382.6L170.5%20528L99.8%20528L264.7%20339.5L90.8%20112L236.4%20112L336.9%20244.9L453.2%20112zM428.4%20485.8L467.5%20485.8L215.1%20152L173.1%20152L428.4%20485.8z%22%2F%3E%3C%2Fsvg%3E")
}

.social-share ul li.linkedin {
    background-color: #0077b5
}

.social-share ul li.linkedin:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M196.3%20512L103.4%20512L103.4%20212.9L196.3%20212.9L196.3%20512zM149.8%20172.1C120.1%20172.1%2096%20147.5%2096%20117.8C96%20103.5%20101.7%2089.9%20111.8%2079.8C121.9%2069.7%20135.6%2064%20149.8%2064C164%2064%20177.7%2069.7%20187.8%2079.8C197.9%2089.9%20203.6%20103.6%20203.6%20117.8C203.6%20147.5%20179.5%20172.1%20149.8%20172.1zM543.9%20512L451.2%20512L451.2%20366.4C451.2%20331.7%20450.5%20287.2%20402.9%20287.2C354.6%20287.2%20347.2%20324.9%20347.2%20363.9L347.2%20512L254.4%20512L254.4%20212.9L343.5%20212.9L343.5%20253.7L344.8%20253.7C357.2%20230.2%20387.5%20205.4%20432.7%20205.4C526.7%20205.4%20544%20267.3%20544%20347.7L544%20512L543.9%20512z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M196.3%20512L103.4%20512L103.4%20212.9L196.3%20212.9L196.3%20512zM149.8%20172.1C120.1%20172.1%2096%20147.5%2096%20117.8C96%20103.5%20101.7%2089.9%20111.8%2079.8C121.9%2069.7%20135.6%2064%20149.8%2064C164%2064%20177.7%2069.7%20187.8%2079.8C197.9%2089.9%20203.6%20103.6%20203.6%20117.8C203.6%20147.5%20179.5%20172.1%20149.8%20172.1zM543.9%20512L451.2%20512L451.2%20366.4C451.2%20331.7%20450.5%20287.2%20402.9%20287.2C354.6%20287.2%20347.2%20324.9%20347.2%20363.9L347.2%20512L254.4%20512L254.4%20212.9L343.5%20212.9L343.5%20253.7L344.8%20253.7C357.2%20230.2%20387.5%20205.4%20432.7%20205.4C526.7%20205.4%20544%20267.3%20544%20347.7L544%20512L543.9%20512z%22%2F%3E%3C%2Fsvg%3E")
}

.social-share ul li.email {
    background-color: #d44638
}

.social-share ul li.email:before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M568.4%2037.7C578.2%2034.2%20589%2036.7%20596.4%2044C603.8%2051.3%20606.2%2062.2%20602.7%2072L424.7%20568.9C419.7%20582.8%20406.6%20592%20391.9%20592C377.7%20592%20364.9%20583.4%20359.6%20570.3L295.4%20412.3C290.9%20401.3%20292.9%20388.7%20300.6%20379.7L395.1%20267.3C400.2%20261.2%20399.8%20252.3%20394.2%20246.7C388.6%20241.1%20379.6%20240.7%20373.6%20245.8L261.2%20340.1C252.1%20347.7%20239.6%20349.7%20228.6%20345.3L70.1%20280.8C57%20275.5%2048.4%20262.7%2048.4%20248.5C48.4%20233.8%2057.6%20220.7%2071.5%20215.7L568.4%2037.7z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M568.4%2037.7C578.2%2034.2%20589%2036.7%20596.4%2044C603.8%2051.3%20606.2%2062.2%20602.7%2072L424.7%20568.9C419.7%20582.8%20406.6%20592%20391.9%20592C377.7%20592%20364.9%20583.4%20359.6%20570.3L295.4%20412.3C290.9%20401.3%20292.9%20388.7%20300.6%20379.7L395.1%20267.3C400.2%20261.2%20399.8%20252.3%20394.2%20246.7C388.6%20241.1%20379.6%20240.7%20373.6%20245.8L261.2%20340.1C252.1%20347.7%20239.6%20349.7%20228.6%20345.3L70.1%20280.8C57%20275.5%2048.4%20262.7%2048.4%20248.5C48.4%20233.8%2057.6%20220.7%2071.5%20215.7L568.4%2037.7z%22%2F%3E%3C%2Fsvg%3E")
}

.cmp-title {
    padding: 40px 0
}

.cmp-title h1 {
    font-size: 2.5rem
}

.cmp-title h2 {
    font-size: 2rem
}

.cmp-title h3 {
    font-size: 1.75rem
}

.cmp-title h4 {
    font-size: 1.5rem
}

.cmp-title h5 {
    font-size: 1.25rem
}

.cmp-title h6 {
    font-size: 1rem
}

.cmp-title__text {
    color: var(--title-color,#000);
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase
}

.cmp-title:after {
    background-color: var(--accent-color,#757575);
    content: "";
    display: block;
    height: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 5pc
}

.cmp-container__features-dark .cmp-title__text {
    color: #fff
}

.cmp-container__features-dark .cmp-title:after {
    background-color: #fff
}

aside .cmp-title {
    padding: 0
}

.usa-banner {
    --icon-lock: url(clientlib-site/resources/images/lock.svg);
    --icon-chevron-up: url(clientlib-site/resources/images/expand_less--white.svg);
    --icon-chevron-down: url(clientlib-site/resources/images/expand_more--white.svg);
    --icon-close: url(clientlib-site/resources/images/close--white.svg);
    --theme-banner-background-color: var(--usa-base-lightest,#f0f0f0);
    --theme-banner-font-family: var(--usa-font-ui,system-ui,sans-serif);
    --theme-banner-link-color: var(--theme-link-color,#005ea2);
    --theme-banner-link-color-hover: var(--theme-link-hover-color,#1a4480);
    --theme-banner-chevron-color: var(--theme-banner-link-color,#005ea2);
    background-color: var(--theme-banner-background-color);
    color: var(--theme-banner-text-color);
    font-family: var(--theme-banner-font-family)
}

.usa-banner__content,.usa-banner__header {
    color: #fff
}

.usa-banner__inner {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.usa-banner__guidance,.usa-banner__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px
}

.usa-banner__guidance {
    width: calc(50% - 15px)
}

.usa-banner__guidance img {
    height: 60px;
    width: 60px
}

.usa-banner__content {
    max-height: 0;
    overflow: hidden
}

.usa-banner.active .usa-banner__content {
    max-height: 140px;
    overflow: auto;
    -webkit-transition: max-height .5s ease-in;
    transition: max-height .5s ease-in
}

.usa-banner__ .usa-banner .usa-accordion {
    font-family: inherit
}

.usa-banner__button {
    background: none;
    border: none;
    color: var(--theme-banner-link-color);
    color: var(--dark-link-color,#aebfd4);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: inherit;
    text-decoration: underline
}

.usa-banner__button:hover {
    color: var(--theme-banner-link-hover-color)
}

.usa-banner__button-text {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.usa-banner__button-text:after {
    background-color: var(--dark-link-color,#aebfd4);
    content: "";
    display: inline-block;
    height: 20px;
    -webkit-mask-image: var(--icon-chevron-down);
    mask-image: var(--icon-chevron-down);
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 20px
}

.usa-banner.active .usa-banner__button-text:after {
    -webkit-mask-image: var(--icon-chevron-up);
    mask-image: var(--icon-chevron-up)
}

.usa-banner__button[aria-expanded=true]:after {
    background-color: var(--dark-link-color,#aebfd4);
    -webkit-mask-image: var(--icon-close);
    mask-image: var(--icon-close)
}

.usa-banner__icon-lock {
    background: #fff;
    background-image: var(--icon-lock);
    display: inline-block;
    height: 1.5ex;
    -webkit-mask-image: var(--icon-lock);
    mask-image: var(--icon-lock);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: middle;
    width: 1.21875ex
}

@media (min-width: 40em) {
    :host {
        --chevron-width:1rem
    }

    .usa-banner__button,.usa-banner__button[aria-expanded=true] {
        -webkit-padding-end: var(--chevron-width);
        padding-inline-end:var(--chevron-width)}

    .usa-banner__button: after {
        background-color:var(--theme-banner-chevron-color);
        right: 0;
        top: 0
    }

    .usa-banner__button[aria-expanded=true]:after {
        -webkit-mask-image: var(--icon-chevron-up);
        mask-image: var(--icon-chevron-up)
    }
}

.grid-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.grid-gap-lg {
    gap: 30px
}

main.container {
    padding: 0
}

main.container.responsivegrid.aem-GridColumn>.cmp-container>.aem-Grid>.container.responsivegrid.aem-GridColumn>.cmp-container>.aem-Grid>.container.responsivegrid.aem-GridColumn>.cmp-container {
    padding: 50px calc(50% - 50pc)
}

footer.experiencefragment {
    background-color: var(--background-dark,#202020);
    color: var(--color-foreground-dark,#fff);
    padding: .5em 1em
}

@media(prefers-color-scheme: dark) {
    footer.experiencefragment {
        border-color:#dfdfdf
    }
}

footer.experiencefragment .cmp-separator__horizontal-rule {
    border: 0;
    margin: 0
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 75pt;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-content-width,100pc)
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.experiencefragment {
    width: 30%
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container {
    width: 50%
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container .cmp-text {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-template-rows: auto 1fr;
    row-gap: .5rem
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container .cmp-text h3 {
    margin: 0
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container .cmp-text ul {
    list-style: none;
    margin: 0;
    padding: 0
}

@media(max-width: 800px) {
    footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container .cmp-text {
        grid-auto-flow:row;
        grid-template-columns: 1fr;
        grid-template-rows: none
    }

    footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.container .cmp-text ul {
        margin-bottom: 1rem
    }
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container>.text {
    font-size: .9rem;
    line-height: 1.5;
    text-align: center;
    width: 100%
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container #sublinks {
    display: inline;
    font-size: .8rem;
    margin: auto
}

footer.experiencefragment>.cmp-experiencefragment--footer>.cmp-container #sublinks ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0
}

footer.experiencefragment .experiencefragment {
    display: none;
    max-height: 5pc;
    max-width: 300px
}

body.navy footer.experiencefragment .experiencefragment:has(.cmp-image#navy) {
    display: block
}

body.army footer.experiencefragment .experiencefragment:has(.cmp-image#army) {
    display: block
}

body.airforce footer.experiencefragment .experiencefragment:has(.cmp-image#airforce) {
    display: block
}

body.marines footer.experiencefragment .experiencefragment:has(.cmp-image#marines) {
    display: block
}

body.coastguard footer.experiencefragment .experiencefragment:has(.cmp-image#coastguard) {
    display: block
}

body.spaceforce footer.experiencefragment .experiencefragment:has(.cmp-image#spaceforce) {
    display: block
}

body.dod footer.experiencefragment .experiencefragment:has(.cmp-image#dod) {
    display: block
}

header.experiencefragment {
    background: linear-gradient(180deg,#000 0,#000 40px,rgba(0,0,0,.85) 50px,transparent 5pc);
    border: none;
    color: #fff;
    font-family: neue-haas-grotesk-text,sans-serif;
    height: 5pc;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

@media(width >= 900px) {
    header.experiencefragment {
        background: linear-gradient(180deg,#000 0,#000 40px,rgba(0,0,0,.85) 5pc,transparent 15pc);
        height: 15pc
    }

    body.internal header.experiencefragment {
        background: var(--background-dark,#1c1c1c);
        height: 10pc;
        position: relative
    }
}

header.experiencefragment .usa-banner {
    background: none;
    font-size: 9pt;
    padding: 4px 10px;
    text-align: left;
    width: 100%
}

header.experiencefragment [aria-label=usa-banner] p {
    color: #fff;
    margin: 0
}

header.experiencefragment [aria-label=usa-banner] p:before {
    background: url(clientlib-site/resources/images/us_flag_small.png) no-repeat 50%;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 9pt;
    margin-right: 10px;
    width: 20px
}

header.experiencefragment .experiencefragment {
    display: none;
    max-height: 5pc;
    max-width: 300px
}

body.navy header.experiencefragment .experiencefragment:has(.cmp-image#navy) {
    display: block
}

body.army header.experiencefragment .experiencefragment:has(.cmp-image#army) {
    display: block
}

body.airforce header.experiencefragment .experiencefragment:has(.cmp-image#airforce) {
    display: block
}

body.marines header.experiencefragment .experiencefragment:has(.cmp-image#marines) {
    display: block
}

body.coastguard header.experiencefragment .experiencefragment:has(.cmp-image#coastguard) {
    display: block
}

body.spaceforce header.experiencefragment .experiencefragment:has(.cmp-image#spaceforce) {
    display: block
}

body.dod header.experiencefragment .experiencefragment:has(.cmp-image#dod) {
    display: block
}

header.experiencefragment .cmp-image {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: start;
    margin: 10px 0;
    max-height: 5pc;
    text-align: left;
    vertical-align: middle
}

header.experiencefragment .cmp-image__image {
    max-height: 5pc;
    max-width: 100%
}

header.experiencefragment nav.cmp-navigation {
    display: inline-block;
    vertical-align: middle
}

header.experiencefragment .cmp-navigation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0
}

header.experiencefragment .cmp-navigation__item-link {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none
}

header.experiencefragment .cmp-navigation__item--active .cmp-navigation__item-link,header.experiencefragment .cmp-navigation__item-link:hover {
    text-decoration: underline
}

header.experiencefragment .cmp-search {
    display: inline-block;
    margin-left: auto;
    padding-right: 20px
}

header.experiencefragment .cmp-search__icon:before {
    color: #fff;
    font-size: 18px
}

header.experiencefragment .cmp-search__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid hsla(0,0%,100%,.5);
    color: #fff;
    font-size: 14px;
    padding: 4px 6px
}

header.experiencefragment .cmp-search__input::-webkit-input-placeholder {
    color: hsla(0,0%,100%,.6)
}

header.experiencefragment .cmp-search__input::-moz-placeholder {
    color: hsla(0,0%,100%,.6)
}

header.experiencefragment .cmp-search__input:-ms-input-placeholder {
    color: hsla(0,0%,100%,.6)
}

header.experiencefragment .cmp-search__input::-ms-input-placeholder {
    color: hsla(0,0%,100%,.6)
}

header.experiencefragment .cmp-search__input::placeholder {
    color: hsla(0,0%,100%,.6)
}

header.experiencefragment .cmp-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100pc
}

header.experiencefragment .cmp-experiencefragment--header>.cmp-container>.container {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%
}

header.experiencefragment .image {
    display: inline-block;
    width: 20%
}

header.experiencefragment .navigation {
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    width: 60%
}

header.experiencefragment .navigation:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 25px;
    margin-top: 10px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M96%20160C96%20142.3%20110.3%20128%20128%20128L512%20128C529.7%20128%20544%20142.3%20544%20160C544%20177.7%20529.7%20192%20512%20192L128%20192C110.3%20192%2096%20177.7%2096%20160zM96%20320C96%20302.3%20110.3%20288%20128%20288L512%20288C529.7%20288%20544%20302.3%20544%20320C544%20337.7%20529.7%20352%20512%20352L128%20352C110.3%20352%2096%20337.7%2096%20320zM544%20480C544%20497.7%20529.7%20512%20512%20512L128%20512C110.3%20512%2096%20497.7%2096%20480C96%20462.3%20110.3%20448%20128%20448L512%20448C529.7%20448%20544%20462.3%20544%20480z%22%2F%3E%3C%2Fsvg%3E");
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M96%20160C96%20142.3%20110.3%20128%20128%20128L512%20128C529.7%20128%20544%20142.3%20544%20160C544%20177.7%20529.7%20192%20512%20192L128%20192C110.3%20192%2096%20177.7%2096%20160zM96%20320C96%20302.3%20110.3%20288%20128%20288L512%20288C529.7%20288%20544%20302.3%20544%20320C544%20337.7%20529.7%20352%20512%20352L128%20352C110.3%20352%2096%20337.7%2096%20320zM544%20480C544%20497.7%20529.7%20512%20512%20512L128%20512C110.3%20512%2096%20497.7%2096%20480C96%20462.3%20110.3%20448%20128%20448L512%20448C529.7%20448%20544%20462.3%20544%20480z%22%2F%3E%3C%2Fsvg%3E");
    width: 100%;
    width: 25px
}

header.experiencefragment .navigation .cmp-navigation__group {
    display: none
}

@media(width >= 900px) {
    header.experiencefragment .navigation: before {
        display:none
    }

    header.experiencefragment .navigation .cmp-navigation__group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

header.experiencefragment .search {
    margin-left: 0;
    width: 10%
}

.cmp-container__features-darkblue {
    background-color: #15263B;
}

.cmp-container__features-lightblue {
    background-color: #355E93;
}

.cmp-separator__white-bar {
    background-color: #FFFFFF;
}


